@use '../../../vars.module' as v;

.blockFilled{
	width: 50px;
	height: 10px;
	font-size: 9px;
	line-height: 12px;
	text-align: center;
	border-radius: 1px;

	background-color: v.$c_addition_second;
	//color: v.$c_addition_first;
}
