.crosses{
	display: grid;
	grid-template-columns: repeat(auto-fit, 40px);
	grid-template-rows: repeat(auto-fit, 40px);
	grid-gap: 26px;
	width: 400px;
}

.animation{
	animation-name: animation;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	animation-play-state: running;
	opacity: 0;
	will-change: opacity;
}

@keyframes animation {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
