@use '../../../vars.module' as v;

.interaction{
	padding: 5px 7px;
	display: flex;
	height: 100%;
}

.cmdZone{
	width: 378px;
	min-width: 378px;
}

.codeZone{
	height: 100%;
	flex-grow: 1;
	color: v.$c_addition_second;
}

.command{
	color: v.$c_addition_second;
}
