@use '../../../vars.module' as v;

.movingCode{
  display: flex;
  gap: 30px;

  color: v.$c_main_dark;

  filter: blur(0.1px);

  font-size: 11px;

  max-height: 700px;
  height: 700px;
  width: 100%;
}
