@use '../../../vars.module' as v;

.movingCode{
  display: flex;
  gap: 30px;

  color: v.$c_main_dark;

  filter: blur(0.1px);

  font-size: 11px;

  max-height: 700px;
  height: 700px;
  width: 100%;
}

.column{
  flex-direction: column;
  filter: blur(0.5px);
  opacity: 0;

  animation: showColumn 2s 4s ease-in-out forwards;
}

@keyframes showColumn{
  from{
    opacity: 0;
  }
  to{
    opacity: 0.8
  }
}

.mobTab{
  width: 100%;
  height: 4px;
  background-color: v.$c_main_third;
}

.triple{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.greenArray{
  display: flex;
  gap: 50px;
  margin-top: 5px;
  margin-bottom: 10px;
}

$color: rgba(73, 248, 134, 0.67);
.greenDecoration{
  height: 8px;
  display: flex;
  width: max-content;
  gap: 3px;
  box-shadow: 0 0 1px 1px $color;
}

.greenTab{
  background-color: $color;
  height: 100%;
}

.squares{
  margin-top: 20px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(16, 120px);
  grid-template-rows: repeat(3, 100px);
}

.square{
  height: 100px;
  width: 120px;
}
