@use '../../../vars.module' as v;

.background{
  //transform: perspective(500px) rotateX(9deg) rotateY(356deg)
  //rotateZ(9deg) translate3d(-823px, -122px, 37px);

  //transform: perspective(500px) rotateX(9deg) rotateY(356deg)
  //rotateZ(9deg) translate3d(-800px, -122px, 37px);

  //

  //transform: perspective(500px) rotateX(7deg) rotateY(355.8deg)
  //rotateZ(10deg) translate3d(-833px, -131px, 37px);

  //transform: perspective(500px) rotateX(7deg) rotateY(355.8deg)
  //rotateZ(10deg) translate3d(-746px, -112px, 56px);
  //transform: perspective(500px) rotateX(7deg) rotateY(355.8deg)
  //rotateZ(10deg) translate3d(-746px, -5vw, 56px);

  //
  //transform: perspective(500px) rotateX(7deg) rotateY(356deg)
  //rotateZ(11deg) translate3d(-803px, -6vw, 65px);
  transform: perspective(500px) rotateX(7deg) rotateY(356deg)
  rotateZ(11deg) translate3d(-773px, -5vw, 73px);

  //width: 2750px;
  width: 2700px;

  //height: 1200px;
  //height: 1500px;
  height: 1728px;
  color: white;

  position: fixed;
  overflow: hidden;

  //filter: blur(.1px);

  //z-index: -100;
}

.topCrossArea{
  height: 130px;
  display: flex;
  align-items: flex-end;
  gap: 83px;
  padding-bottom: 40px;
}
