@use '../../../vars.module' as v;

$size: 40px;

.wrapper{
	height: $size;
	width: $size;
	position: relative;
	display: grid;
}

.cross{

	background-color: v.$c_addition_second;
	position: absolute;
	justify-self: center;
	align-self: center;
	border-radius: 2px;
}

.animation{
	opacity: 0;
	animation-name: animation;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

@keyframes animation {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

