@use '../vars.module' as v;

.intro{
  min-height: 250px;
  max-width: 996px;
  width: 100%;
  margin-inline: 30px;

  color: v.$c_main_first;

  font-weight: 500;

  display: flex;
  flex-direction: column;

  container-type: inline-size;
}
