@use '../vars.module' as v;

.intro{
  min-height: 250px;
  max-width: 996px;
  width: 100%;
  margin-inline: 30px;

  color: v.$c_main_first;

  font-weight: 500;

  display: flex;
  gap: 20px;
  flex-direction: column;

  container-type: inline-size;
}

.who{
  position: relative;
  min-height: 150px;
  height: max-content;
}

.innerWho{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 15px;
}

.me{
  font-size: 36px;
}

.desc{
  font-size: 20px;
  text-align: right;
}

@container (width < 860px) {
  .innerWho{
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }
  .me{
    align-self: flex-start;
  }
  .desc{
    align-self: flex-end;
  }
}

.links{
  width: 140px;
  height: 33px;
  align-self: center;

  display: flex;
  justify-content: space-between;
}

.link{
  width: 33px;
  height: 33px;
  display: block;

  background-color: rgba(166, 28, 67, 1);

  mask-size: 33px;
  transition: 200ms;
}

.link:hover{
  scale: 120%;
}

.telegram{
  mask-image: url('../../../public/telegram-logo-white.png');
}
.github{
  mask-image: url('../../../public/github-mark-white.png');
}
.linkedin{
  mask-image: url('../../../public/linkedin-logo-white.png');
}

.button{
  @include v.button;
  align-self: center;
  font-size: 14px;
  font-weight: bolder;
}
