@use '../../../vars.module' as v;

.selfWritingText{
	display: flex;
	gap: 5px;
	height: 22px;
	line-height: 22px;
}

.text{
	color: v.$c_addition_second;
}

.nixPreCmd{
	color: v.$c_main_third;
}

.nixTab{
	position: relative;
	top: 15px;
	height: 2px;
	width: 10px;
	background-color: v.$c_addition_second-50p;
}
