@use '../../../vars.module' as v;

.square{
	position: absolute;
	top: -4px;
	left: -4px;
	width: 4px;
	height: 4px;
	background-color: v.$c_addition_second;
}

.lining{
	will-change: height, width;
}

.lining{
	will-change: opacity;
}
