@use '../../../vars.module' as v;

.lining{
	position: absolute;
	width: 100%;
	height: 100%;
}

.square{
	position: absolute;
	top: -4px;
	left: -4px;
	width: 4px;
	height: 4px;
	background-color: v.$c_addition_second;
}
