@use '../../../vars.module' as v;

.status{
	width: 613px;
	height: 200px;
	//background-color: rgba(72, 61, 139, 0.53);
	font-size: 8px;
	color: v.$c_main_second
}

.top{
	display: flex;
	justify-content: space-between;
	height: 10px;
}

.topRight{
	margin-right: 30px;
}

.trio{
	display: flex;
	height: 185px;
	margin-top: 5px;
	gap: 5px;
}

.listn{
	width: 130px;

	display: flex;
	flex-direction: column;
	gap: 5px;
}

.textBox{
	background-color: v.$c_main_second;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
}

.listnTag{
	width: 130px;
	height: 20px;
	font-size: 12px;
}

.listnTagWrapper{
	height: 20px;
	flex-shrink: 0;
}

.listnTagInner{
	height: 1px;
	width: 0;
	animation-fill-mode: forwards;
	animation-name: showTextBox;
	animation-delay: 1s;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	overflow: hidden;
}

@keyframes showTextBox{
	from{
		height: 1px;
		width: 0;
	}
	50%{
		height: 1px;
		width: 100%;
	}
	to{
		height: 100%;
		width: 100%;
	}
}

.listnStateWrapper{
	height: 1px;
	width: 0;

	animation-fill-mode: forwards;
	animation-name: flexShow;
	animation-delay: 2s;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	overflow: hidden;
}

@keyframes flexShow {
	from{
		flex-grow: 0;
		height: 1px;
		width: 0;
	}
	50%{
		flex-grow: 0;
		height: 1px;
		width: 130px;
	}
	to{
		height: auto;
		flex-grow: 1;
		width: 130px;
	}
}

.listnState{
	height: 100%;
	background-color: v.$c_main_second_as_background;
	border: 1px solid v.$c_main_second;
	padding: 5px;

	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.volts{
	display: flex;
	gap: 5px;
	line-height: 8px;
}

.cm3{
	width: 30px;
	height: 8px;
}

.separatorWrapper{
	width: 25px;
	height: 100%;
}

.clippedSeparator{
	height: 100%;
	width: 0;
	background-color: v.$c_main_second;

	animation: 200ms separatorShow linear forwards 1s;

	//clip-path: polygon(25% 0, 0 3%, 0 97%, 25% 100%, 100% 100%, 75% 97%, 75% 3%, 100% 0);
	clip-path: polygon(
			10% 1%,
			10% 98%, 25% 100%,
			100% 100%,
			100% 90%, 85% 88%,
			85% 12%, 100% 10%,
			100% 0,
			55% 0, 45% 1%
	);
}

@keyframes separatorShow{
	from{
		width: 0;
	}
	to{
		width: 25px;
	}
}


.stream{
	width: 190px;

	font-size: 12px;
	line-height: 10px;
}

.streamTag{
	height: 10px;

	display: flex;
	justify-content: space-between;
}

.loadingWrapper{
	width: 20px;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.loadingTab{
	height: 2px;
	width: 100%;
	background-color: v.$c_main_second;

	animation-name: lTabAnimation;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 1s;
	animation-fill-mode: both;
}

@keyframes lTabAnimation{
	from{
		opacity: 0
	}
	50%{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}

.bitArr{
	margin-top: 5px;
	display: grid;
	grid-template-columns: repeat(18, 4px);
	grid-gap: 7.8px;
	grid-column-gap: 6.9px;
}

.bitArrMarquee{
	margin-top: 5px;
	height: 170px;
}
