@use '../../../vars.module' as v;

.menu{
	width: 100%;
	height: 800px;
	margin-inline: 20px;

	//todo decide do i need bg gradient here. probably i need for mobile version
	background: linear-gradient(253deg, rgba(189, 45, 45, 0.05) 0%, rgba(21, 215, 180, 0.03) 100%), rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(4px);

	display: flex;
	align-items: center;
	justify-content: center;

	$borderMenuSize: 2px;
	@include v.gradient_border(
			$borderMenuSize,
			linear-gradient(rgba(209, 0, 67, 1), rgba(0, 207, 214, 1))
			0 calc(-1 * $borderMenuSize) / 100% calc(100% + $borderMenuSize * 2),
			10px,
	)
}

@container (max-width: 963px) {
	.menu{
		min-height: 80%;
		height: max-content;
	}
}

.invisible{
	display: none;
}

.hardMenu{
	width: 100%;
	height: 800px;
	margin-inline: 20px;

	//border: 5px solid v.$c_main_second;
	//background-color: blue;

	padding: 50px;

	position: relative;

	clip-path: polygon(-5% -50%, 99% 0, 100% 1.5%, 100% 30%, 99% 31.5%, 99% 100%, 0% 100%);
	//z-index: 2;
	//border-color: #F00;
	//border-style: solid;


	&::before{
		content: '';
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;

		//background-color: rebeccapurple;
		//transform: scale(2);
	}
}

.svgInner{
	height: 100%;
}

.rightBottomLine{
	height: calc(100% - 212px);
}

.border{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
