@use '../../../vars.module' as v;

.menu{
	width: 100%;
	height: 800px;

	//todo decide do i need bg gradient here. probably i need for mobile version
	background: linear-gradient(253deg, rgba(189, 45, 45, 0.05) 0%, rgba(21, 215, 180, 0.03) 100%), rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(4px);

	display: flex;
	align-items: center;
	justify-content: center;

	$borderMenuSize: 2px;
	@include v.gradient_border(
			$borderMenuSize,
			linear-gradient(rgba(209, 0, 67, 1), rgba(0, 207, 214, 1))
			0 calc(-1 * $borderMenuSize) / 100% calc(100% + $borderMenuSize * 2),
			10px,
	)
}

.invisible{
	display: none;
}
