@use '../../../vars.module' as v;

.info{
	margin-top: 2px;
	width: 400px;
	min-height: 140px;
	margin-inline: auto;

	display: flex;
	gap: 1px;
}

.content{
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-block: 10px;
}

.exactInfoTitle{
	overflow: hidden;
}

.infoTitle{
	font-size: 16px;
	line-height: 13px;
	display: flex;
	align-items: center;
	gap: 5px;
	color: v.$c_addition_second;
}

.responsibilities{
	color: v.$c_main_second;
}

.responsibility{
	display: flex;
	gap: 8px;
}

.dot {
	color: v.$c_addition_second;
}

.title{
	font-size: 17px;
	line-height: 13px;
	color: v.$c_accent_gold;
	display: flex;
	flex-direction: column;
	gap: 5px;
}
