@use '../../../vars.module' as v;

.protocolWrapper{
	display: flex;
}

.protocol{
	height: 100%;
	width: 60px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	line-height: 7px;
}

.protocolPreview{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.protocolElement{
	height: 3px;
	width: 15px;
	background-color: v.$c_main_second;
}

.warning{
	margin-left: 8px;
	height: 100%;
	width: 120px;

	color: v.$c_main_third;
	font-size: 7px;
	line-height: 11px;
	text-transform: uppercase;
}

.signPreviewWrapper{
	height: 35px;
	display: flex;
	gap: 4px;
}

.signPreview{
	width: 180px;
	background-color: v.$c_main_second;
	mask-image: url("../../../../../public/signMask.png");
	mask-size: 180px 100%;
	mask-repeat: no-repeat;
}

.tabs{
	display: flex;
	height: 100%;
	gap: 3px;
}

.tab{
	background-color: v.$c_main_second;
}

.signDigits{
	margin-top: 4px;
	width: 200px;
	word-break: keep-all;
	white-space: nowrap;
}
