@use '../../../vars.module' as v;

.line{
	height: 100%;
	width: 2px;

	background-color: v.$c_addition_first;

	box-shadow: 0 0 10px 3px v.$c_addition_second_50p;

	flex-grow: 1;
}

.lineInner{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.lineWrapper{
	min-height: 100%;
}

.arrow{
	flex-shrink: 0;
}

.circle{
	flex-shrink: 0;
}

.blocks{
	position: relative;
	left: -57px;
	margin-block: 25px;
}

.exp{
	display: flex;
	position: relative;
	margin: 15px 0 3px 80px;
}

@media (hover: none) and (pointer: coarse){
	.exp{
		font-size: 1.15em;
		margin-left: 60px;
	}
}

.experienceLength{
	position: absolute;
	left: 25px;
	top: -15px;
	color: v.$c_accent_gold;
	text-shadow: 0 0 7px v.$c_accent_gold;
}
