.lamp{
	height: 100px;
	width: 100px;
	//transform: scaleX(5);
	position: absolute;
	//animation-name: show;
	//animation-fill-mode: forwards;
	//opacity: 0;
}

//@keyframes show {
//	from{
//		opacity: 0;
//	}
//	to{
//		opacity: 1;
//	}
//}
