@use '../../../vars.module' as v;

.data{
  width: 600px;
  height: 200px;

  //background-color: v.$c_addition_second;

  position: relative;

  display: flex;
  flex-direction: column;
}

.inner{
  height: 100%;
  position: relative;
}
