@use '../../vars' as v;

.movingCode{
  display: flex;
  gap: 30px;

  color: v.$c_main_dark;
  //color: rgba(182, 41, 41, 0.73);
  filter: blur(0.1px);

  font-size: 11px;
}

.codeElement{
  width: 500px;
  height: max-content;
  line-break: anywhere;
  overflow: hidden;
}

@keyframes an {
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(-100%);
  }
}

.anim{
  animation: an 15s linear infinite;
}
