@use '../../../vars.module' as v;

.wrapper{
	margin-left: calc(150px + 23vw);
	//margin-left: 300px;
	//width: calc(100% - 239px);
	overflow: hidden;
}

.bottom {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.innerBottom{
	display: flex;
	gap: 50px;
	row-gap: 20px;

	flex-wrap: wrap;
	max-width: 1430px;
	height: max-content;
}

.rightCrosses{
	//width: 400px;
	//height: 500px;
	margin-left: 30px;
}

.leftCrosses{
	width: 238px;
	min-width: 238px;
	margin-right: 30px;
	//width: 130px;
	//min-width: 400px;
	//height: 200px;
}

.middleCrosses{
	//min-width: 200px;
	width: 20vw;
	height: 200px;
	//grid-template-columns: repeat(auto-fit, 40px);
	//grid-template-rows: repeat(auto-fit, 40px);
	gap: 30px;
	overflow: hidden;
	min-width: 170px;
}
.undisplayedCrosses{
	display: none;
}

.lowestCrosses{
	//width: 1420px;
	//margin-left: 400px;
	//background-color: gray;
	width: 40vw;
	min-width: 250px;
}

.middle{
	display: flex;
	gap: 30px;
}
.reversed{
	flex-direction: row-reverse;
}

@media (max-width: 1000px){
	.innerBottom{
		flex-direction: column;
	}
	.wrapper{
		margin-left: calc(-950px + 107vw);
	}
	.undisplayedCrosses{
		display: grid;
	}
	.rightCrosses{
		transform: translateX(calc(15vw*-1));
	}
	.reversed{
		flex-direction: row;
	}
//	.wrapper{
//		margin-left: 46vw;
//		scale: 110%;
//		margin-top: 70px;
//	}
//
//	.bottom{
//		margin-top: 0;
//	}
//
//	.innerBottom{
//		flex-direction: column;
//	}
//
//	.rightCrosses{
//		display: none;
//	}
//	.lowestCrosses{
//		margin-left: 100px;
//		margin-top: 100px;
//	}
//	.leftCrosses{
//		width: 200px
//	}
//	.midCrosses{
//		display: grid;
//	}
//
//	.middle{
//		width: 500px;
//	}
}

//@media (max-width: 700px){
//	.wrapper{
//		margin-left: 30vw;
//		margin-top: -20px;
//		scale: 85%;
//	}
//}
//
//@media (max-width: 500px){
//	.wrapper{
//		margin-left: 15vw;
//		margin-top: -40px;
//		scale: 80%;
//	}

//}

//

.staticText{
	height: 10px;
	width: 100%;
	padding-left: 150px;
	font-size: 10px;
	color: v.$c_main_second;
	opacity: 0.7;
	letter-spacing: 0.7px;

	display: flex;
	gap: 50px;
}
