@use '../../../vars.module' as v;

.wrapper{
	margin-left: calc(150px + 23vw);
	overflow: hidden;
}

.bottom {
	display: flex;
	justify-content: center;
	margin-top: 40px;

	will-change: transform;
	transform: translateZ(0);
}

.innerBottom{
	display: flex;
	gap: 50px;
	row-gap: 10px;

	flex-wrap: wrap;
	max-width: 1430px;
	height: max-content;
}

.rightCrosses{
	margin-left: 30px;
}

.leftCrosses{
	width: 238px;
	min-width: 238px;
	margin-right: 30px;
}

.middleCrosses{
	width: 20vw;
	height: 200px;
	gap: 30px;
	overflow: hidden;
	min-width: 170px;
}
.undisplayedCrosses{
	display: none;
}

.lowestCrosses{
	width: 40vw;
	min-width: 250px;
}

.middle{
	display: flex;
	gap: 30px;
}
.reversed{
	flex-direction: row-reverse;
}

@media (max-width: 1000px){
	.bottom{
		margin-top: 50px;
	}
	.innerBottom{
		flex-direction: column;
		row-gap: 20px;
	}
	.wrapper{
		margin-left: calc(-950px + 107vw);
	}
	.undisplayedCrosses{
		display: grid;
	}
	.rightCrosses{
		transform: translateX(calc(15vw*-1));
	}
	.reversed{
		flex-direction: row;
	}
}

.staticText{
	height: 10px;
	width: 100%;
	padding-left: 150px;
	font-size: 10px;
	color: v.$c_main_second;
	opacity: 0.7;
	letter-spacing: 0.7px;

	display: flex;
	gap: 50px;
}
