@use '../../../vars.module' as v;

$box_shadow: 0 0 30px 2px rgba(220, 70, 71, 0.42);

.preloader{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	flex-direction: column;

	gap: 20px;

	color: v.$c_main_second
}

.article{
	font-size: 20px;
}

.inner{
	width: 600px;
}

.loader{
	width: 100%;
	height: 8px;
	box-shadow: 0 0 0.4px 0.4px red;
	padding: 1px;
}

.loader::after{
	content: '';
	display: block;
	height: 100%;
	box-shadow: $box_shadow;
	position: relative;
	top: -6px;
}

.loadingElement{
	height: 100%;
	width: 50%;
	background-color: v.$c_main_second;
}

.bottom{
	height: 50px;
	width: 100%;
	margin-top: 7px;

	display: flex;
	justify-content: space-between;

	font-size: 9px;
}
