@use '../../../vars.module' as v;

.skill{
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;
	white-space: nowrap;

	position: relative;

	font-size: 20px;
	font-weight: bold;
	line-height: 19px;

	color: v.$c_main_first;

	text-transform: uppercase;
}

.inner{
	max-height: 564px;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	gap: 4px;
	column-gap: 8px;

	padding-inline: 15px;
}

.misc{
	width: 270px;
	//width: 335px;
}

@media (hover: none) and (pointer: coarse){
	.misc{
		width: 335px;
	}
}

@media (max-width: 963px){
	.skill{
		gap: 15px;
	}
	.inner{
		padding-top: 5px;
		max-height: 625px;
		gap: 10px;
		column-gap: 15px;
	}
	.misc{
		width: 300px;
	}
}

@media (min-resolution: 97dpi) or ((hover: none) and (pointer: coarse)) {
	.skill{
		font-size: 1.6rem;
	}
}

//@media (hover: none) and (pointer: coarse){
//	.skill{
//		background-color: rebeccapurple;
//	}
//}
