@use './vars.module' as v;

html{
  background-color: black;
}

body{
  background-color: black;
}

.main{
  color: white;
  height: 100vh;
  max-width: 1440px;
  min-width: 290px;
  margin-inline: auto;

  display: flex;
  align-items: center;

  container-type: inline-size;
}

@media (max-height: 800px) {
  .main{
    height: 100%;
  }
}

.os-scrollbar{
  --os-size: 8px;
  --os-handle-border-radius: 0;
  --os-track-border-radius: 0;

  --os-handle-bg: #DC4647FF;
  --os-handle-bg-hover: #8c2727;
  --os-handle-bg-active: #8c2727;

  --os-track-bg: #3F0E11FF;
  --os-track-bg-hover: #3F0E11FF;
  --os-track-bg-active: #3F0E11FF;
}
