$c_main_first: #d10043;
$c_main_second: #dc4647;
$c_main_second_2: #ff6b63;
$c_main_third: #a61c43;

$c_main_dark: rgba(209, 0, 67, 0.75);

$c_addition_first: #69f5fd;
$c_addition_first_2: #23faff;
$c_addition_second: #00cfd6;
$c_addition_second_80p: rgba(0, 207, 214, 0.8);
$c_addition_second_50p: rgba(0, 207, 214, 0.5);

$c_accent_gold: #ffb800;


