@use '../../../vars.module' as v;

.content{
	height: max-content;

	//font-size: 16px;
	color: v.$c_main_second;

	display: flex;
	gap: 10px;
}

.notSeamless{
	margin-top: 50px;
}

.inner{
	position: relative;

	font-weight: 500;
}

.tabLines{
	width: 35px;
}

.dates{
	width: 30px;
	display: flex;
	flex-direction: column;

	line-height: 11px;
}

.datesAlone{
	justify-content: flex-end;
}
.datesMultiple{
	justify-content: space-between;
}

@mixin tab{
	background-color: v.$c_main_second;
	box-shadow: 0 0 7px 2px rgba(243, 38, 38, 0.5);
}

.vertTab{
	@include tab;
	height: 100%;
	transform: scaleY(100%);
	width: 1px;
	position: relative;
	left: 25px
}

.horizTab{
	@include tab;
	height: 1px;
	transform-origin: center left;
}

@mixin date{
	text-shadow: 0 0 5px v.$c_main_second;

	display: flex;
	flex-direction: column;
	gap: 3px;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 25px;

	position: relative;

	@media (hover: none) and (pointer: coarse){
		gap: 5px;
	}
}


.dateTo{
	@include date;
	top: -13px
}

.dateFrom{
	@include date;
	top: 13px;
}
