@use '../../../vars.module' as v;

.content{
	width: 300px;

	position: relative;
	top: -16px;

	font-size: 16px;
	color: v.$c_main_second;
}

.inner{
	position: relative;
	top: -12px;

	font-weight: 500;
}

.marks{
	width: 100%;
	height: 45px;

	position: relative;

	display: flex;
	justify-content: space-between;

	line-height: 11px;
}

@mixin mark{
	position: absolute;
	text-align: center;
	line-height: 14px;
	width: 28px;
	text-shadow: 0 0 5px v.$c_main_second;
}

.firstMark{
	@include mark;
	left: -14px;
	top: -32px;
}

.lastMark{
	@include mark;
	right: -14px;
	top: -20px;
}

@mixin tab{
	background-color: v.$c_main_second;
	box-shadow: 0 0 7px 2px rgba(243, 38, 38, 0.5);
}

.markTab{
	@include tab;
	height: 100%;
	width: 1px;
}
.horizTab{
	@include tab;
	flex-grow: 1;
	height: 1px;
}

.title{
	font-size: 17px;
	line-height: 13px;
	color: v.$c_accent_gold
}

.place{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.position{
	margin-top: 5px;
	margin-inline: auto;
	width: max-content;
}

.goldShadow{
	text-shadow: 0 0 7px v.$c_accent_gold;
}

.date{
	position: absolute;
	top: -10px;
	width: 100%;
	text-align: center;

	height: 10px;

	text-shadow: 0 0 5px v.$c_main_second;
}
