@use '../../../vars.module' as v;

.helmet{
	height: 50%;
	position: absolute;
	background-color: v.$c_main_first;
	border-radius: 2px;
	padding-bottom: 10px;
}

.helmet::after{
	content: '';
	display: block;
	box-shadow: v.$main_box_shadow;
	height: 10px;
	opacity: 0;
	transition: 300ms;
}

.afterVisible::after{
	opacity: 1
}
