@use '../../../vars.module' as v;

.element{
	width: 500px;
	height: 50px;
	align-self: flex-end;
	display: flex;
	gap: 10px;
	overflow: hidden;
}

.inner{
	display: flex;
	gap: 10px;
	width: 100%;
}

///

.square{
	width: 50px;
}

//.square {
//	$s: 10px;
//	$s-: calc(100% - $s);
//
//	position: relative;
//	border: solid 2px transparent;
//
//	&::before {
//		position: absolute;
//		z-index: -1;
//		inset: -2px;
//		border: inherit;
//		background-color: v.$c_main_second;
//
//		mask: conic-gradient(from -90deg at $s $s, red 25%, transparent 0)
//			0 0 / $s- $s- border-box subtract,
//			conic-gradient(red 0 0) padding-box;
//		content: ''
//	}
//}
//
//.bound{
//	width: 46px;
//	height: 100%;
//	padding: 5px;
//}

.innerBound{
	border: 3px solid v.$c_main_darker;
	border-radius: 1px;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.boundLine{
	background-color: v.$c_main_darker;
	height: 3px;
	width: 40%;
	border-radius: 1px;
}

///

.protocol{
	color: v.$c_main_second;
	font-size: 8px;
	line-height: 10px;
	width: 161px;
}

.timings{
	color: v.$c_main_second;
	font-size: 12px;
	display: grid;
	grid-template-rows: repeat(auto-fit, auto);
}

.timing{
	flex-grow: 1;
	line-height: 10px;
	height: 10px;
	justify-self: center;
	letter-spacing: 0.6px;
}

.timing:nth-child(2){
	align-self: center;
}
.timing:nth-child(3){
	align-self: end;
}

.wideNumber{
	width: 146px;
}
.wideNumber:nth-child(1){
	width: 123px;
}

.digits{
	margin-left: 10px;
}

.text{
	white-space: pre-wrap;
}
