@use '../../vars' as v;

.justToSeeIt{
  margin-top: 150px;
}

.checker{
  width: 500px;
  height: 500px;
  background-color: blue;
}

.img{
  width: 100%;
  height: 100%;
}

.reference{
  position: fixed;
  left: 0;
  top: 0;
  opacity: .5;
  width: 96%;
}

.text{
  color: v.$c_main_third
}
