@use '../../../vars.module' as v;

.wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	user-select: none;
}

.nav{
	top: 50px;
	left: 0;
	width: 120px;
	height: 150px;

	z-index: 1000;
	background: linear-gradient(146deg, rgba(166, 28, 67, 0.10) 0%,
		rgba(162, 33, 71, 0.10) 32.81%, rgba(0, 207, 214, 0.10) 100%);
	backdrop-filter: blur(50px);

	$navBorderSize: 1px;
	$coors: calc(-1 * $navBorderSize);
	$sizes: calc(100% + $navBorderSize * 2);
	@include v.gradient_border(
			$navBorderSize,
			linear-gradient(146deg, #A61C43 0%, #A41E45 26.56%, #00CFD6 100%)
			$coors $coors / $sizes $sizes,
			0,
			absolute
	);

	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-content: center;

	text-transform: uppercase;
}

.lineMenu{
	width: 100%;
	height: 50px;

	display: none;
	gap: 3px;
	align-items: flex-end;
}

.tab{
	width: 100%;
	height: 2px;
	background-color: v.$c_main_third;
}

.lineLinks{
	display: flex;
	gap: 3px;
	white-space: nowrap;
}

@media (hover: none) and (pointer: coarse) {
	.lineMenu{
		font-size: 22px;
		gap: 5px;
	}
	.lineLinks{
		gap: 5px;
	}
}

@media (max-width: 1305px) {
	.nav{
		display: none;
	}
	.lineMenu{
		display: flex;
	}
}

.mark{
	position: absolute;
	top: -9px;
	right: -25px;
	pointer-events: none;
}

.radialMark{
	$size: 45px;
	height: $size;
	width: $size; //rgba(255, 0, 0, 0.66)
	//background: radial-gradient(closest-side, rgba(255, 255, 0, 0.27) 5%, transparent 60%, #3f87a6, #ebf8e1 90%, transparent);
	//background: radial-gradient(closest-side, rgba(255, 255, 0, 0.27) 5%, transparent 60%, rgba(235, 248, 225, 0.78), transparent);
	background: radial-gradient(closest-side, rgba(255, 255, 0, 0.27) 5%, transparent 60%, v.$c_addition_first, transparent);
	position: relative;

	animation: radialAnim 3s infinite ease-in-out;
}

@keyframes radialAnim{
	from{
		transform: scale(100%);
	}
	50%{
		transform: scale(120%);
	}
	to{
		transform: scale(100%);
	}
}

.invisible{
	display: none
}

