@use '../../../vars.module' as v;

.nixPreCmd{
	color: v.$c_main_third;
	margin-right: 5px;
}

.nixTab{
	position: relative;
	top: 5px;
	height: 2px;
	width: 5px;
	background-color: v.$c_addition_second;
}
