.skillBlock{
}

.contentWrapper{
	margin-top: 3px;
	width: 100%;

	display: flex;
	gap: 7px;
}

.header{
	font-size: 0.9em;
}

.inner{
	font-size: 0.85em;
	line-height: 0.9em;

	padding-block: 3px;

	display: flex;
	flex-direction: column;
	gap: 8px;
}

@media (max-width: 963px){
	.adaptiveContentWrapper{
		margin-top: 6px;
		gap: 10px;
	}
	.adaptiveInner{
		gap: 10px;
	}
}
