@use '../../../vars.module' as v;

.wrapper{
	width: 100px;
	height: 25px;

	position: relative;
	cursor: pointer;
}

$bs: 1px;
.border{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: v.$c_main_third;

	clip-path: polygon(5% 0, 30% 0, 34% 13%, 100% 13%, 100% 85%, 93% 100%, 0 100%, 0 90%, 2% 85%, 2% 60%, 0 55%,

	0 0, 5% 0, 5% calc(100% - $bs), calc(93% - $bs) calc(100% - $bs), calc(100% - $bs) calc(85% - $bs), calc(100% - $bs) calc(13% + $bs),
		calc(34% - $bs) calc(13% + $bs), calc(30% - $bs) $bs,
		5% $bs
	);

	transition: 70ms;
}

.inner{
	position: relative;

	$offset: calc($bs - 0.5px);
	top: $offset;

	left: 5%;

	width: calc(95% - $offset);
	height: calc(100% - $offset * 2);

	background: v.$g_redGradButton;

	clip-path: polygon(0 0, 25% 0, 29% 13%, 100% 13%, 100% 85%, 93% 100%, 0 100%);

	display: flex;
	align-items: center;
	justify-content: center;
}

.text{
	position: relative;
	top: 2.5px;
	color: v.$c_main_first;
	line-height: 15px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

//hover
.wrapper:hover > .border{
	background-color: v.$c_main_second;
}
.wrapper:hover > .inner{
	background: linear-gradient(90deg, rgba(220, 70, 71, 0.36) 0%, rgba(166, 28, 67, 0.00) 50%, rgba(220, 70, 71, 0.36) 100%);
}
.wrapper:hover > .inner > .text{
	color: v.$c_main_second
}

//active
.wrapper:active > .border{
	background-color: rgb(179, 57, 57);
}
.wrapper:active > .inner{
	background: linear-gradient(90deg, rgba(220, 70, 71, 0.36) 0%, rgba(166, 28, 67, 0.00) 50%, rgba(179, 57, 57, 0.36) 100%);
}
.wrapper:active > .inner > .text{
	color: #b33939;
}
