@use '../../../vars.module' as v;

.text{
	color: v.$c_main_third;
	min-width: max-content;
	font-weight: bolder;
}

.topTextLine{
	height: min-content;

	//distortion fix
	position: relative;
	left: -200px;
	width: 3000px;
}

@media (max-width: 900px){
	.topTextLine {
		left: -600px;
	}
}
