.topElement{
	display: flex;
	padding-bottom: 40px;
	gap: 60px;
	margin-left: calc(-1870px + 100vw);
}

@media (max-width: 1200px){
	.topElement{
		margin-left: calc(-2280px + 135vw);
	}
}

.topCrossArea{
	height: 100px;
	display: flex;
	align-items: flex-end;
	gap: 83px;
}
