@use '../../../vars.module' as v;

.wrapper{
	height: 185px;
}

.pipeline{
	margin-left: 10px;
	height: 0;
	overflow: hidden; //fixme this makes marquee invisible for initial render, but it needs to be hidden for show animation. need to dig into it. probable fix – overflow: visible on marquee wrapper/element

	animation-name: show;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

@keyframes show{
	from{
		height: 0;
	}
	to{
		height: 185px;
	}
}

.breachWrapper{
	margin-top: 3px;
	display: flex;
	gap: 3px;
	width: 240px;
}

@mixin lining{
	border: 1px solid v.$c_main_second_as_background;
	background-color: v.$c_fourth_dark;
}

.breach{
	flex-grow: 1;
	height: 152px;
	padding: 3px;
	@include lining;
}

.tab{
	@include lining;
	width: 6px;
}

.breachPipeline{
	line-height: 8px;
	height: 100%;

	display: grid;
	grid-template-rows: repeat(11, 12.2px);
	align-content: center;
	align-items: center;
}

.breachPipelineWrapper{
	margin-top: 5px;
	height: 129px;
	position: absolute; //fixing invisibility due to overflow hidden on .pipeline
}
