@use '../../../vars.module' as v;

.wrapper{
	overflow: hidden;
}

.backShell{
	width: 20px;
	padding-left: 5px;
	height: 100%;
	position: relative;
}

.quadroSymbols{
	height: 10px;
	width: 100%;
	display: flex;
}

.shellTabWrapper{
	margin-top: 5px;
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.shellTab{
	background: v.$g_separator_clr_addition_vertical;
	width: 2px;
}
