.marqueeWrapper{
	height: inherit;
	overflow: hidden;
}

.codeElement{
	height: max-content;
	line-break: anywhere;
	word-break: break-all;

	animation-duration: 30s;
	animation-timing-function: linear;
}

.preWrap{
	display: block;
	width: inherit;
	white-space: pre-wrap;
}

.anim{
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-delay: 30s;
}

.codeElementVertical{
	animation-name: show;
}
.codeElementHorizontal{
	animation-name: showHorizontal;
	display: flex;
	width: 100%;
}

.animVertical{
	animation-name: an
}
.animHorizontal{
	animation-name: anHorizontal;
	min-width: 100%;
}

/////

@keyframes show {
	from{
		transform: translateY(-100%);
	}
	to{
		transform: translateY(0);
	}
}

@keyframes an {
	from{
		transform: translateY(-100%);
	}
	to{
		transform: translateY(0);
	}
}

//

@keyframes showHorizontal {
	from{
		transform: translateX(-200%);
	}
	to{
		transform: translateX(0);
	}
}

@keyframes anHorizontal {
	from{
		transform: translateX(-100%);
	}
	to{
		transform: translateX(0);
	}
}
