.marqueeWrapper{
	height: inherit;
	overflow: hidden;
}

.duoPreWrapper{
	height: max-content;
	line-break: anywhere;
	word-break: break-all;

	animation-duration: 30s;
	animation-timing-function: linear;
}

.reverseWrapper{
	height: inherit;
	transform: translateY(100%);
}

.codeWrap{
	display: block;
	width: inherit;
	white-space: pre-wrap;
}

.pre{
	animation-timing-function: linear;
}

////////

.duoPreWrapperVertical{
	animation-name: preAnim;
}
.duoPreWrapperVerticalReverse{
	transform: translateY(-50%);
	animation-name: preAnimReverse;
}
//
.duoPreWrapperHorizontal{
	animation-name: duoPreWrapperAnim;
	display: flex;
	width: 100%;
}

.preVertical{
	animation-name: preAnim
}
.preVerticalReverse{
	animation-name: preAnimReverse
}
//
.preHorizontal{
	animation-name: preAnimHorizontal;
	min-width: 100%;
}

/////

@keyframes preAnim {
	from{
		transform: translateY(-100%);
	}
	to{
		transform: translateY(0);
	}
}
@keyframes preAnimReverse {
	from{
		transform: translateY(0);
	}
	to{
		transform: translateY(-150%);
	}
}

////

@keyframes duoPreWrapperAnim {
	from{
		transform: translateX(-200%);
	}
	to{
		transform: translateX(0);
	}
}

@keyframes preAnimHorizontal {
	from{
		transform: translateX(-100%);
	}
	to{
		transform: translateX(0);
	}
}
//




//.duoPreWrapperHorizontalReverse{
//	animation-name: showHorizontalReverse;
//	display: flex;
//	width: 100%;
//}
//.preHorizontalReverse{
//	animation-name: anHorizontalReverse;
//	min-width: 100%;
//}
//
//
//@keyframes showHorizontalReverse {
//	from{
//		transform: translateX(0);
//	}
//	to{
//		transform: translateX(200%);
//	}
//}
//
//@keyframes anHorizontalReverse {
//	from{
//		transform: translateX(0);
//	}
//	to{
//		transform: translateX(100%);
//	}
//}
