@use '../../../vars.module' as v;

.project{
	//width: 314px;
	width: 317px;
	min-height: 520px;
}

.decorationRow{
	height: 100%;
	display: flex;
	gap: 5px;
}

.highDecoration{
	width: 7px;
	background-color: v.$c_main_second;

	clip-path: polygon(0 6px, 3px 0, 100% 0, 100% 172px, 5px 174px, 5px 100%, 0 98%, 0 91%, 2px 90.5%, 2px 67%, 0 66.5%);
}

.inner{
	//z-index: 5;

	color: v.$c_main_second;
	width: 100%;

	display: flex;
	flex-direction: column;
	gap: 10px;

	position: relative;
}

.image{
	height: 150px;
	width: 300px;
	object-fit: contain;
	margin-right: 5px;
}
