@use '../../../vars.module' as v;

.project{
	//width: 314px;
	min-width: 317px;
	min-height: 520px;
}

.decorationRow{
	height: 100%;
	display: flex;
	gap: 5px;
}

.highDecoration{
	transform-origin: 0 0;

	flex-shrink: 0;
	width: 7px;
	background-color: v.$c_main_second;

	clip-path: polygon(0 6px, 3px 0, 100% 0, 100% 172px, 5px 174px, 5px 100%, 0 98%, 0 91%, 2px 90.5%, 2px 67%, 0 66.5%);
}

.innerWrapper{
	overflow: hidden;
	width: 100%;
}

.inner{
	color: v.$c_main_second;
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: relative;
}

.image{
	min-height: 150px;
	height: 150px;
	width: 297px;
	object-fit: contain;
	//margin-right: 5px;
}

@media (hover: none) and (pointer: coarse){
	.image{
		width: calc(100% - 10px);
		height: 183px;
		min-height: 183px;
	}
}
