@use '../../../vars.module' as v;

.wrapper{
  position: absolute;
  display: flex;

  height: 4px;
}

.breaker{
  background-color: v.$c_addition_second;

  width: 25px;
  height: 100%;
}

.end{
  clip-path: polygon(0 0, 100% 110%, 0 110%);
  background-color: v.$c_addition_second;

  width: 6px;
  height: 100%;
}

.mirror{
  transform: scale(-1, 1);
}

.mirrorWrapper{
  transform: scale(1, -1);
}

.vertical{
  transform-origin: 0 0;
  transform: rotate(90deg);
}

.doubled{
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, -1);
}
