@use '../../vars.module' as v;

.skills{
	font-weight: bold;
	height: 100%;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 1305px) {
	.skills {
		padding-inline: 50px;
	}
}

.scroll{
	height: max-content;
	max-height: 95%;
	width: 100%;
}

.global{
	width: 100%;
	display: flex;
	justify-content: center;
}

.wrapper{
	display: flex;
	gap: 15px;
	justify-content: center;
}

.tab{
	min-width: 1px;
	background-color: v.$c_addition_second_50p;
}

@media (max-width: 963px){
	.wrapper{
		flex-wrap: wrap;
		flex-grow: 0;
		justify-content: center;
		width: 420px;

		padding-block: 10px;
	}
	.tabAdaptive{
		display: none;
	}
}
