@use '../../../vars.module' as v;

.dataBlock{
	width: 50px;
	height: 10px;
	font-size: 9px;
	text-align: center;
	border-radius: 1px;
}

.filled{
	line-height: 12px;
	background-color: v.$c_addition_second;
}

.unfilled{
	line-height: 10px;
	border: 1px solid v.$c_addition_second_80p;
}
